html,
body {
  height: 100%; }

* {
  font-family: 'Karla', sans-serif; }

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: #23272b;
    border-radius: .25rem; }

.dropdown-menu {
  padding: 0 !important; }
  .dropdown-menu button {
    width: 100%; }

main {
  margin: 1em 0; }
  main .col {
    margin-top: 1em; }

.viewport-tools {
  padding-bottom: 1em;
  display: flex;
  justify-content: space-between;
  width: 550px; }
