html,
body {
    height: 100%;
}

* {
    font-family: 'Karla', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
    color: white !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        background-color: #23272b;
        border-radius: .25rem;
    }
}

.dropdown-menu {
    padding: 0 !important;

    button {
        width: 100%;
    }
}

main {
    margin: 1em 0;

    .col {
        margin-top: 1em;
    }
}